body {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif !important;
}

head, body, main {
  text-align: center;
}

.flex-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding-top: 10px;
  width: 310px;
  margin: 0 auto;
  justify-content: space-between;
}
