body {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif !important;
}

head, body, main {
  text-align: center;
  color: #4e4e4e;
}

.flex-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 12px;
  margin: 10pxs;
  padding-top: 10px;
  padding-bottom: 10px;
}
.image2{
  width: 18px;
  height: 18px;
}
.image3{
  width:720px;
  height:720px;
}
.list{
  font-size: 12px;
  display: flex;
  justify-content: space-between
  
}
li{
  display: flex;
  font-size: 12px;
  margin-left: 4%;
  display: inline-block;
  vertical-align: middle;

 
}

.a{
  display: flex;
  position: relative;
  text-decoration: none;
  text-align: center;
}

a::after{
  border-bottom: solid 2px ;
  bottom: o;
  content: "";
  display: block;
  transition: all.3s ease;
  width: 100%;
}
a:hover::after{
  width: 100%;
}
.shop-now{
  background-color: white;
  border: 1px solid black;
}
.image4{
  width: 720px;
  height: 1080px;
}
.h2{
  font-size: 12px;
}